<section class="notFound">
  <div class="row">
    <div class="col-12">
      <div class="wrapper-fullscreen d-flex align-items-center justify-content-center flex-column">
        <i class="icon icon-xl icon-broken-link mb-4"></i>
        <h1 class="display-1 mb-5">404</h1>
        <p class="text-center mb-3">The page are looking for has been either moved/removed/renamed/never existed.</p>
        <p class="text-center mb-4">You stumbled upon a broken link :(</p>
        <a href="#" class="btn btn-secondary">Take me home</a>
      </div>
    </div>
  </div>
</section>