
<section class="content form-area">
  <div class="container-fluid w-50  form-background ">
    <div class="row">
      <div class="col-12">
        <form class="shadow-lg mx-auto w-75 form" style="background-color: #f8b78c;">
          <div class="image-position">
            <img src="assets/image/logo.jpg" class="image-style" alt="">
          </div>
          <div class="col-12">
          <div class="form-group mt-3 lebel-input">
            <label for="exampleInputPassword1" class="label-color">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputPassword1" class="label-color">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
          <div class="d-flex justify-content-center">
          <button type="button" (click)="submit()" class="btn button-login font-weight-bold" >Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
